body{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(243, 244, 246);
}

.home{
    background-image: url(src/assets/images/coverfull2.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    object-fit: contain;
}

@media(max-width: 1024px){
    .home{
        background-image: url(src/assets/images/covermed.png);
  }

}

@media (max-width: 420px){
    .home{
        background-image: url(src/assets/images/coverphone.png);
    }
  
}

::-webkit-scrollbar
{
    width: 0;
}


/* .cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  } */